*{
    font-family: Tahoma;
}

html,
body {
    background-color: white;
}

.main-desc {
    width: 60vw;
    height: 4vw;
    margin: 20vw;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
}

#viz-1-map {
    width: 80vw;
    height: 50vw;
    margin: 10vw;
    margin-top: 0;
    margin-bottom: 0;
}



#viz-2-scatter, #viz-3-lollipop, #viz-4-stacked-bar, #viz-5-line, #viz-6-donut, #viz-7-table {
    margin: 3vw;
    margin-top: 0;
    margin-bottom: 0;
    width: 40vw;
    height: 25vw;
}

.map-para{
    width: 25vw;
    margin: 2vw;
    margin-top:0;
    text-align: left;
}

.chart-para{
    width: 18.5vw;
    text-align: left;
}

.map-heading {
    width: 80vw;
    height: 3vw;
    margin: 10vw;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #0033cc ;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
}

.chart-heading {
    width: 40vw;
    height: 3vw;
    margin: 3vw;
    margin-bottom: 0;
    background-color: #0033cc ;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
}

.map-desc {
    width: 80vw;
    height: 6vw;
    margin: 8.5vw;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    text-align: left;
}
.chart-desc {
    margin: 3vw;
    margin-top: 2vw;
    width: 40vw;
    height: 1vw;
    font-size: 16px;
    text-align: left;
}

h2 {
    color: white;
}

h1 {
    text-align: center;
    color: #0033cc;
    background-color: lightblue;
    font-size: 40px;
}