*{
    font-family: Verdana;
}

html,
body {
    background-color: #F3FAF9;
}

.pure-u-1-3, .pure-u-1-2 {
    margin-top: 5px;
    height: 25vw;
}

#text_div {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    text-align: center;
    color: #527298;
    font-size: 40px;
}

p {
    color: #527298;
    font-size: 16px;
}